.CommentSection{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.InsertCommentBox{
    position: absolute;
    display: flex;
    align-items: center;

    
    border-radius: 42px 21px 21px 42px;
    background-color: #fff;
    outline: #e3e3e3 solid 10px
}
.ProfilePicture{
    background-color: #e3e3e3;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}
.CommentField{
    outline: none;
    border: 0;
    padding: 0 90px;
    border-radius: 14px;
    background-color: #fff;
    width:350px;
    height: 60px;
}
.SendComment{
    color:var(--main-color);
    width: 40px;
    height: 40px;
}
.CommentsArea{

}